@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-clr: #245953;
    --bg-primary-clr: #3c3c3c;
    --bg-secondary-clr: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    background-color: var(--bg-primary-clr);
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-secondary-clr);
    z-index: 100;
    color: #fff;
}

header .user {
    align-items: center;
    display: flex;
    gap: 20px;
}

.user button {
    padding: 7px 10px;
    color: #fff;
    background-color: var(--primary-clr);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.user button:hover {
    cursor: pointer;
    background-color: #245953c4;
}

.name:hover {
    color: #bdbdbd;
    cursor: pointer;
}

sup {
    color: red;
}

footer {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary-clr);
    z-index: 100;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    width: 100%;
}

.container h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

form {
    margin-top: 20px;
}

.container form input,
select,
textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px 8px;
    border: none;
    border-radius: 5px;
    color: var(--primary-clr);
}

.buttons {
    display: flex;
    gap: 10px;
}

.container>.buttons>button,
a {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: var(--primary-clr);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center !important;
}

.container>.buttons>a {
    background-color: #244359;
}

.container>.buttons>button:hover {
    cursor: pointer;
    background-color: #245953c4;
    text-align: center !important;
}

.container>.buttons>a:hover {
    cursor: pointer;
    background-color: #244359c4;
    text-align: center !important;
}

.container p {
    color: #eee;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.container p a {
    color: #3e9e95;
}

.container p a:hover {
    color: #327c75;
    text-decoration: underline;
}

label {
    color: #fff;
}

@media screen and (max-width: 500px) {
    body {
        align-items: flex-start;
    }
}

.warningBox {
    border: 2px solid red !important;
}

.error {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    list-style: none;
}

/* @media screen and (max-width: 1000px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }
} */

@media screen and (max-width: 500px) {
    header {
        padding: 20px;
        font-size: 70%;
    }

    .container {
        margin: 50px auto;
        padding: 0 20px;
    }
}