:root {
    --primary-color: #8B7E74;
    --danger-color: #ab5151;
    --info-color: #5177ab;
    --bg-primary-color: #434242;
    --bg-secondary-color: #242429;
    /* --primary-color: #e85900;
    --bg-primary-color: #3d3d3d;
    --bg-secondary-color: #252525; */
}

.modalDetail {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    font-family: "Poppins", sans-serif;
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

/* modal header component */

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--bg-secondary-color);
    font-size: 20px;
    font-weight: 500;
}

.close-modal {
    color: #aaaaaa;
    cursor: pointer;
    font-size: 28px;
}

.close-modal:hover,
.close-modal:focus {
    color: #888888;
    text-decoration: none;
    cursor: pointer;
}

/* modal body component */

.modal-body {
    padding: 30px;
    background-color: var(--bg-primary-color);
    font-size: 20px;
}

.modal-body p {
    font-size: 14px !important;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
}

.modal-body .link-maps {
    color: #fefefe;
}

.modal-body .link-maps:hover {
    color: var(--primary-color);
}

.fa-solid {
    width: 20px;
    display: inline-block;
}

/* modal footer component */

.modal-footer {
    padding: 10px 30px;
    background-color: var(--bg-secondary-color);
    font-size: 20px;
    font-weight: 500;
}

.modal-footer button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-delete-event {
    background-color: var(--danger-color) !important;
}

.btn-edit-event {
    background-color: var(--info-color) !important;
}



@media screen and (max-width: 1400px) {
    .modal-content {
        background-color: #fefefe;
        margin: 20% auto;
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .modal-content {
        background-color: #fefefe;
        margin: 20% auto;
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .modal-content {
        margin: 30% auto;
        width: 90%;
    }
}